<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Library{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="nav">
        <div>
            <a href="/">My Library</a>
        </div>
        <div>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/publishers">Publishers</a>
            <a href="/categories">Categories</a>
            <a href="/bookshelves">Bookshelves</a>
            <a href="/series">Series</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
